/* styles.css */
.border {
	position: relative;
	width: 600px;
	height: 600px;
	border: 1px solid black;
}

.rpc {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: yellow;
	border-radius: 50%;
}

.rock {
	background-color: gray;
}

.paper {
	background-color: white;
	border: 1px solid black;
}

.scissors {
	background-color: red;
}
