
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.1;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  z-index: -1;
  height: 22vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(rgb(72, 252, 192), rgb(128, 66, 251));
  animation: rotate 20s infinite;
  filter: blur(1.5vmax);
	opacity: 0.4;
}

@media (max-width: 1024px) {
  #blob{
    display: none;
  }
}

