#hidden-message-container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0);
  color: white;
  z-index: 9999;
  padding: 20px;
  padding-top: 0px;
  max-width: 300px;
  border-radius: 1rem;
  margin-right: 1%;
  margin-top: 1%;
  animation: slideIn 0.5s ease;
}

#found-message {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#show-message-tab {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  z-index: 9999;
  padding: 10px;
  cursor: pointer;
  border-radius: 1rem;
  margin-right: 1%;
  margin-top: 1%;
}

#show-message-tab:hover{
  background-color: rgba(0, 0, 0);
  color: white;
}

#hello {
  color: #b22222;
}

#x {
  
  width: min-content;
  margin-left: 85%;
  margin-top: 5%;
  cursor: pointer;
}

@keyframes slideIn {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}
