a {
	color: inherit; 
	text-decoration: none; 
	background: none; 
	cursor: pointer; 
	font-size: inherit; 
	border: none; 
	padding: 0;
	margin: 0; 
	width: fit-content;
}

#homepage {
	display: flex;
	flex-direction: row;
	height: 100vh;
	overflow: hidden;
	width: 70%;
	margin: auto;
	margin-top: 5%;
}

#left {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 10%;
	margin: 0 auto;
}

#right {
	flex: 1;
	overflow-y: auto;
	padding-bottom: 5%;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

#right::-webkit-scrollbar {
	display: none;
}

#about {
	margin-bottom: 10%;
}

#logo {
	z-index: 99999;
	position: absolute;
	animation: 1.5s zoom-out cubic-bezier(0.5, -0.55, 0.3, 1) forwards;
	transform-origin: top left;
	top: 15px;
}

#hidden {
	color: rgb(38, 47, 67);
	cursor: pointer;
	display: flex;
	margin: 0 auto;
	margin-bottom: 5%;
	width: 50%
}

#img-logo {
	min-height: 100%;
	width: 1000px;
	border-radius: 20%;
}

#footer {
	width: 65%;
	display: flex;
	justify-content: space-evenly;
	gap: 10%;
	transition: transform 0.3s ease;
}

#social-img {
	width: 50px;
	height: 50px;
	transition: all 0.3s ease;
}

#footer a:hover #social-img {
	transform: scale(1.2);
}

#header-div {
	display: flex;
	flex-direction: column;
	gap: 20%;
}

#header-div h1 {
	cursor: pointer;
	font-size: 3rem;
	line-height: 1;
	letter-spacing: -0.025em;
	font-weight: bold;
	width: fit-content;
}

#project-img {
	width: 200px;
}

#project-img-h1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5%;
}

#project-card:hover #project-name {
	color: #4fd1c5;
}

#project-card:hover {
	background-color: rgb(128, 128, 128, 0.2);
	border-radius: 0.25rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#project-card:active #project-name {
	color: #4fd1c5;
}

#project-card:active {
	background-color: rgba(128, 128, 128, 0.2);
	border-radius: 0.25rem;
}

#project-card {
	margin-bottom: 10%;
	padding: 2%;
}

#header-div p {
	width: 70%;
}

#tech-list {
	margin-top: 0.5rem;
	display: flex;
	flex-wrap: wrap;
  gap: .5rem;
}

#tech {
	display: flex;
	align-items: center;
	border-radius: 9999px;
	background-color: rgba(56, 178, 172, 0.2);
	padding-left: 0.75rem;
	padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3bafac;
}
@keyframes zoom-out {
	0% {
		transform: scale(1) translate(-50%, -50%);
		top: 50%;
		left: 50%;
		width: 500px;
	}

	100% {
		transform: scale(0.1);
		top: 1%;
		left: 1%;
		width: 1000px;
	}
}

@keyframes blink {
	0%,
	40.43% {
		color: rgb(38, 47, 67);
	}
	61.44%,
	100% {
		color: #4fd1c5;
	}
}

@keyframes fade {
	0%,
	10% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90%,
	100% {
		opacity: 0;
	}
}
@media (max-width: 1024px) {
	#logo {
		display: none;
	}
	#homepage {
		display: block;
		width: 95%;
		height: auto;
		overflow: auto;
	}

	#about {
		margin-bottom: 10%;
    margin-left: .5rem;
    margin-right: .5rem;
	}
	#header-div {
		margin-bottom: 10%;
    margin-left: .5rem;
    margin-right: .5rem;
	}
	#footer {
		width: 90%;
	}
	#left {
		flex: 1;
		align-items: center;
	}

	#right {
		height: 100%;
		overflow-y: auto;
	}

	#hidden {
		animation: blink 7s linear infinite, fade 7s linear infinite;
	}
}
