/* styles.css */

.rpc-sim {
	margin-top: 10vh;
}
input {
	text-align: center;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-bottom: 5%;
	gap: 5%;
	text-align: center;
}
.border {
	position: relative;
	width: 600px;
	height: 600px;
	border: 1px solid black;
}

.rpc {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
}
/* 
  .rock {
  background-color: gray;
  }
  
  .paper {
  background-color: white;
  border: 1px solid black;
  }
  
  .scissors {
  background-color: red;
  } */
@media (max-width: 768px) {
	/* Change this value based on when you want the design to adjust */
	body {
		padding: 0.5rem;
	}
	.rpc-sim {
		margin-top: 5vh;
	}
	.border {
		width: 400px; /* Reduced width */
		height: 500px; /* Reduced height */
		margin: auto;
	}
}
